* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background-color: #000;
    overflow-x: hidden;
    
}

.informacion {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 100px;
    padding: 10px;
    margin-bottom: 20px;
}

.elemento {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 2s ease;

}

.elemento_1 {
    opacity: 0;
}

.informacion p {
    padding: 10px;
    font-size: 2.5em;
    font-weight: bold;
    font-style: oblique;
    letter-spacing: 2px;
    cursor: pointer;
}

.informacion i {
    display: none;
}

.informacion a {
    color: #B63B73;
    filter: brightness(150%);
    text-decoration: none;
}

.informacion a:hover {
    color: #68073E;
    filter: brightness(280%);
    transform: scale(1.2);
    transition: all .3s ease;

}

h1 {
    text-align: center;
}

.contenedor_1 {
    margin: auto;
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}


.contenedor_presentacion {
    width: 40%;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
    background-color: #000;
    padding: 10px 15px;
    border-right: none;
    border-top: none;
    border-left: none;
    box-shadow: #728D08 0px 3px 8px;
    border-radius: 10px;
}

.contenedor_presentacion h2 {
    padding: 0;
}

h2 {
    font-size: 1.5em;
    color: #728D08;
    filter: brightness(200%);
    padding: 10px 0 5px 0;
}

.contenedor_presentacion p {
    font-size: medium;
    font-weight: bold;
    padding: 0 10px
}

.logo {
    max-width: 300px;
    border-radius: 50%;
    animation: buffer 0.5s infinite;
}

@keyframes buffer {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.05);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.contenedor_perfil {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.foto_perfil {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: -1;
}

.foto_perfil img {
    width: 1500px;
    opacity: .4;
    border-radius: 10px;
    filter: blur(2px);
}

.servicios_1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 35px;
    margin-bottom: 20px;
}

.celdas {
    background-color: #000;
    max-width: 500px;
    max-height: 300px;
    overflow: hidden;
    margin: auto;
    border-right: none;
    border-top: none;
    border-left: none;
    box-shadow: #728D08 0px 3px 8px;
    border-radius: 10px;
}

.celdas h2 {
    background-color: #000;
    letter-spacing: 2px;
    cursor: pointer;
}

.efecto_tarjeta {
    border-radius: 10px;
    position: relative;
    transition: all .3s ease;
}

.efecto_tarjeta img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

.efecto_tarjeta img:last-child {
    position: absolute;
    width: 300px;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(30%);
    transition: .3s ease;
    opacity: 0;
}

.efecto_tarjeta:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-20%) translateZ(0);
    cursor: pointer;
}

.efecto_tarjeta::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom,
            transparent 5%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0) 100%);
    opacity: 0;
    transition: all 0.3s ease;
}

.efecto_tarjeta:hover::before {
    opacity: 1;
}

.efecto_tarjeta:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

.datos_perfil {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    align-items: center;
    background-color: #000;
    height: 400px;
    text-align: center;
    font-size: 1.2em;
}

.caja_contacto {
    letter-spacing: 2px;
    line-height: 3;
}

.caja_contacto p {
    font-size: 0.8em;
}

.iconos_redes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 30px;
}

.iconos_redes img {
    height: 2em;
    cursor: pointer;
    padding: 8px;
}

.iconos_redes img:hover {
    transform: scale(1.2);
    transition: 0.8s;
}

footer {
    width: 100%;
    background-color: #000;
}

.caja_footer {
    color: #666;
    text-align: center;
    letter-spacing: 2px;
    font-size: 0.7em;
    padding: 10px;
}




/*APLICAMOS RESPONSIVE*/

@media (max-width: 650px) {
    
    .informacion{
        width: 100%;
        padding: 0;
    }
    .informacion p {
        display: none;
    }
    
    .informacion i {
        display: inline-block;
        font-size: 5em;
        max-height: 80px;
        width: 100%;
        padding: 0;
        margin: auto;
        position: relative;
    }
    .informacion:active{
        background-color: #4C538F;
        color: #000;
        filter: brightness(180%);
    }

}

@media only screen and (max-width: 1047px) {

    body {
        overflow-x: hidden;
        width: 100%;
    }

    header {
        max-width: 660px;
        margin: auto;
    }

    .datos_perfil {
        flex-direction: column;
        height: 100%;
    }

    .contenedor_logo {
        position: static;
    }

    .contenedor_1 {
        width: 100%;
        height: 100%;
    }

    .informacion {
        width: 100%;
        height: 20%;
        background-color: #000;
        margin: auto;
        margin-bottom: 20px;
    }

    .celdas {
        margin: 0 10px;
    }

    .logo {
        width: 35%;
        padding-top: 20px;
    }

    footer {
        width: 100%;
        background-color: #000;
    }
}

@media (max-width: 1204px) {
    .contenedor_1 {
        flex-direction: column;
    }

    .contenedor_perfil {
        flex-wrap: wrap;
    }

    .contenedor_presentacion {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .contenedor_presentacion h1 {
        text-align: center;
    }

    .contenedor_logo {
        position: static;
    }
}